h1 Words in Lyrics

= form_with url: searches_path, method: :get, local: true do |form|
  = form.label "Type a Spanish word"
  = form.text_field(:query)
  = form.submit("Search")


/ = render partial: "searches/search", collection: @searches, as: :search

p full_title: 
= @full_title

p header_image_thumbnail_url:
= @header_image_thumbnail_url

p header_image_url:
= @header_image_url

p song_art_image_thumbnail_url:
= @song_art_image_thumbnail_url

p song_art_image_url:
= @song_art_image_url

p request paramter:
= @query

p title
= @title

p title_with_featured
= @title_with_featured

p result:
= @result

p message:
= @message
