p full_itle: 
= @full_title

p header_image_thumbnail_url:
= @header_image_thumbnail_url

p header_image_url:
= @header_image_url

p song_art_image_thumbnail_url:
= @song_art_image_thumbnail_url

p song_art_image_url:
= @song_art_image_url

p request paramter:
= @query

p result:
= @result

p message:
= @message
